@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");

// Font
$font: "Lexend Deca", sans-serif;

// Font Sizes
$font-size-search: 4.5rem;
$font-size-aside-heading: 1.625rem;
$font-size-standard: 1rem;

// Colours
$colour-background: #f2f1ed;
$colour-primary: #e3dad3;
$colour-font: #28394a;
$colour-accent: #b3c4d6;
$colour-primary-dark: #5a6c87;

// Sizes and Radii
$header-max-width: 1451px;
$box-border-radius: 6px;
$card-width: 16.875rem;
$card-height: 18.75rem;

// Margins, Paddings, and Gaps
$card-padding: 32px 30px;
