@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");

// Font
$font: "Lexend Deca", sans-serif;

// Font Sizes
$font-size-search: 72px;

// Colours
$colour-background: #f2f1ed;
$colour-primary: #e3dad3;
