@use "../../assets/scss/variables" as *;

// General

.filter-container {
  padding: 12px 25px;

  .filter-container__label {
    font-weight: bold;
    font-size: $font-size-aside-heading;
  }
  .filter-container__option {
    width: 15.5rem;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: $colour-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-radius: $box-border-radius;

    &-text--dark--active {
      color: $colour-font;
    }
  }
}

// Smaller Screen

.filter-container--mob {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  display: block;
  .filter-container__container {
    width: 350px;
    .filter-container__label {
      display: inline;
    }
    .filter-container__arrow {
      margin-left: 1rem;
    }
    .filter-container__arrow:hover {
      cursor: pointer;
    }
  }
  .filter-container__option {
    margin-top: 15px;

    &--active {
      background-color: $colour-accent;
    }
  }

  .filter-container__option--dark {
    background-color: $colour-primary-dark;
    &--active {
      background-color: $colour-background;
    }
  }
}

// Larger Screen

.filter-container--desk {
  width: 350px;
  .filter-container__label {
    margin-bottom: 20px;
  }

  .filter-container__option {
    width: 15.5rem;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: $colour-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-radius: $box-border-radius;
    &--active {
      background-color: $colour-accent;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .filter-container__option--dark {
    background-color: $colour-primary-dark;
    &--active {
      background-color: $colour-background;
    }
  }
}
