@use "../../assets/scss/variables" as *;

.card {
  width: $card-width;
  height: $card-height;
  padding: $card-padding;
  background-color: $colour-primary;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card__title {
    font-size: $font-size-aside-heading;
    font-weight: bold;
    text-align: center;
  }

  .card__text {
    max-height: 150px;
    overflow: auto;
    scrollbar-color: blue green;

    .card__tag {
      font-weight: bold;
      margin-bottom: 8px;
    }
  }

  .card__details {
    display: flex;
    justify-content: space-between;

    .card__details-val {
      font-weight: bold;
    }
  }
}
