@use "../../assets/scss/variables" as *;

.header {
  position: relative;
  min-height: 290px;

  .header__hero {
    display: block;
  }

  .header__logo {
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
  }

  .header__mob-search-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    padding: 0 28px;
    .header__search {
      font-family: $font;
      font-weight: bold;
      font-size: $font-size-search;

      background-color: transparent;
      border: none;

      width: 320px;
    }

    .header__search,
    .header__search::placeholder {
      color: $colour-primary;
      text-align: left;
    }
  }
}
